<!doctype html>
<html lang="en" ng-app="application">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cinema Open Data Base Client</title>
    <link href="/assets/css/app.css" rel="stylesheet" type="text/css">
    <script src="/assets/js/foundation.js"></script>
    <script src="/assets/js/templates.js"></script>
    <script src="/assets/js/routes.js"></script>
    <script src="/assets/js/app.js"></script>
  </head>
  <body ng-controller="AppController">
    <div class="vertical grid-frame">
      <div class="shrink grid-content" style="padding: 0;">
        <ul class="primary menu-bar">
          <li><a><strong>Cinema Open Data Base Client</strong></a></li>
        </ul>
        <div class="title-bar custom-title-bar">
          <span class="left"><a ui-sref="home"><img zf-iconic="" icon="home" size="small" class="iconic-color-primary"></a></span>
          <span class="title center">{{title}}</span>
          <span class="right"><a href="#" zf-open="panel-config"><img zf-iconic="" icon="cog" size="small" class="iconic-color-primary"></a></span>
        </div>
      </div>
      <div ui-view ng-show="client_depots[0].href"class="grid-block">
      </div>
      <div ng-hide="client_depots[0].href">
        <div class="grid-block">
          <div class="grid-container">
            <center>
              <h2>Bonjour</h2>
              <p>Vous n'êtes actuellement connecté à aucun depot. Pour vous connecter à un depot codb, et consulter les films assosiés à ce dernier, entrer l'adresse ci dessous.</p>
              <br>
              <input type="text" ng-model="init.client_depots[0].href" placeholder="http://adressedudepot/depot/" >
              <a href="" ng-click="submitInit()" class="button expand">Connection</a>
            </center>
          </div>
        </div>
        
      </div>
      <div zf-panel="" id="panel-config" position="right">
        <a zf-close="" class="close-button">×</a>
        <p>
          <h3>Configuration</h3>
            <h5>Connexion au depot</h5>
            <label>
              Adresse du depot
              <input type="text" ng-model="client_depots[0].href" >
            </label>
            <h5>Identification</h5>
            <label>
              Clé utilisateur
              <input type="text" ng-model="client_depots[0].user_key" >
            </label>
            <label>
              Clé signature utilisateur
              <input type="text" ng-model="client_depots[0].user_password" >
            </label>
            <h5>Optionel</h5>
            <label>
              Clé du depot ( si requis )
              <input type="text" ng-model="client_depots[0].depot_key_password" >
            </label>
            <a href="" ng-click="submitConfig()" class="button expand">Enregistrer</a>
        </p>
      </div>
      <zf-notification-set id="notification-panel"></zf-notification-set>
    </div>
  </body>
</html>
