---
name: home
url: /
animationIn: fadeIn
animationOut: fadeIn
controller: ListMoviesController
---
<div id="sidebar" class="small-0 medium-3 large-2  vertical grid-block">
	<div class="grid-contener">
		<form class="sidebar-search">
			<span class="inline-label">
				<input type="search" placeholder="Recherche">
			</span>
		</form>
	</div>
	<div class="grid-content">
		<section class="block-list custom-block-list">
			<header>Voir les</header>
			<ul>
				<li><a href="#">Films</a></li>
				<li><a href="#">Personnes</a></li>
				<li><a href="#">Organisations</a></li>
			</ul>
			<header>Voir mes</header>
			<ul>
				<li><a href="#">Films</a></li>
				<li><a href="#">Personnes</a></li>
				<li><a href="#">Organisations</a></li>
			</ul>
		</section>
	</div>
</div>

<div id="main" class="small-12 medium-9 large-10 grid-block vertical">
	<div class="shrink grid-content main-option">
		<div class="small-12 medium-6 large-4" style="float:left; margin-right:1rem; margin-top:0.1rem;">
			<select name="" id="">
				<option value="">Recherche sur le titre original</option>
				<option value="">Recherche sur le titre traduit</option>
				<option value="">Recherche sur le genre</option>
				<option value="">Recherche sur la durée</option>
				<option value="">Recherche sur le résumé</option>
				<option value="">Recherche sur l'accroche</option>
			</select>
		</div>
		<ul class="button-group segmented custom-button-group" >
			<li>
				<input type="radio" name="OptionList" value="card" id="option-list-card" ng-click="OptionListList = false; OptionListCard = true" checked="">
				<label for="option-list-card">Vignette</label>
			</li>
			<li>
				<input type="radio" name="OptionList" value="list" id="option-list-list" ng-click="OptionListList = true; OptionListCard = false">
				<label for="option-list-list">Liste</label>
			</li>
		</ul>
		<a ui-sref="addMovie" class="button success hollow" style="margin-bottom:0rem; margin-top:-0.2rem;">Ajouter un film</a>
		<div class="small-12 medium-6 large-4" style="float:right; min-width:30rem;" >
			<div style="float:right; margin-top:0.1rem;">
			</div>
			
		</div>
	</div>

	<div class="grid-block small-up-1 medium-up-2 large-up-4 " ng-show="OptionListCard">
		<div ng-repeat="resource in resources" class="grid-block">
			<div class="grid-container">
				<div class="card">
					<div class="card-img" ng-repeat="images_from_movie in resource._api_data.images_from_movie">
						<img  class="{{images_from_movie.type}}" ng-src="{{images_from_movie._api_rsc_link._depot | isempty: 'Non renseigné' }}echo/attachment/id/{{images_from_movie._api_rsc_link._id}}">
					</div>
					<div class="card-img" ng-show="!resource._api_data.images_from_movie">
						<img  class="poster" ng-src="/assets/img/no_picture_big.gif">
					</div>
					<div class="card-info">
						<div class="card-divider">
							{{resource._api_data.original_title}}
						</div>
						<div class="card-section">
							<p>{{resource._api_data.pitch}}</p>
						</div>
						<p class="card-link"><a class="button secondary expand" ui-sref="movie({depot: resource._api_rsc._depot, id: resource._api_rsc._id, title: resource._api_data.original_title})">Voir plus</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class=""  ng-show="OptionListList">
		<div ng-repeat="resource in resources" class="grid-block">
			<div class="grid-content">
				<div class="list">
					<div class="list-img card-img" ng-repeat="images_from_movie in resource._api_data.images_from_movie">
						<img class="{{images_from_movie.type}}" ng-src="{{images_from_movie._api_rsc_link._depot}}echo/attachment/id/{{images_from_movie._api_rsc_link._id}}">
					</div>
					<div class="list-img card-img" ng-show="!resource._api_data.images_from_movie">
						<img  class="poster" ng-src="/assets/img/no_picture_big.gif">
					</div>
					<div class="list-info">
						<div class="list-divider">
							{{resource._api_data.original_title}} <a class="" ui-sref="movie">Voir plus</a>
						</div>
						<div class="list-section">
							<p>{{resource._api_data.pitch}}</p>
						</div>
					</div>
				</div>
				<hr />
			</div>
		</div>
	</div>
	<div class="gallery-view grid-content shrink">
		<span style="">Connecté sur {{client_depots[0].href}}</span>
	</div>	
</div>
