---
name: movie
url: /movie/:depot/:id/:title
animationIn: fadeIn
animationOut: fadeIn
controller: ViewMovieController
---

<div id="sidebar" class="small-0 medium-3 large-2  vertical grid-block">
	<div class="grid-contener card-img" ng-repeat="images_from_movie in resource._api_data.images_from_movie" style="background: url('assets/img/load.jpg'); background-size: ">
		<img  class="{{images_from_movie.type}}" ng-src="{{images_from_movie._api_rsc_link._depot}}echo/attachment/id/{{images_from_movie._api_rsc_link._id}}" style="min-height:25rem">
	</div>
	<div class="grid-contener card-img" ng-show="!resource._api_data.images_from_movie">
		<img class="poster" ng-src="/assets/img/no_picture_big.gif">
	</div>
	<div class="grid-content">
		<section class="block-list custom-block-list">
			<header>Informations</header>
			<ul>
				<li><a ng-click="Tab1 = true; Tab2 = false; Tab3 = false; Tab4 = false; Tab5 = false;">Général</a></li>
				<li><a ng-click="Tab1 = false; Tab2 = true; Tab3 = false; Tab4 = false; Tab5 = false;">Technique</a></li>
				<li><a ng-click="Tab1 = false; Tab2 = false; Tab3 = true; Tab4 = false; Tab5 = false;">Détails</a></li>
				<li><a ng-click="Tab1 = false; Tab2 = false; Tab3 = false; Tab4 = true; Tab5 = false;">Légal</a></li>
				<li><a ng-click="Tab1 = false; Tab2 = false; Tab3 = false; Tab4 = false; Tab5 = true;">Réseau</a></li>
			</ul>
		</section>
	</div>
</div>

<div id="main" class="small-12 medium-9 large-10 grid-block vertical">
	<div class="shrink grid-content main-option" ng-show="option">
		<a class="button hollow success" zf-open="deleteMovieModal" ng-show="optionEdit">Modifier les informations du film</a>
		<a class="button hollow alert" zf-open="deleteMovieModal" ng-show="optionDelete">Supprimer le film</a>
		
	</div>
	<div class="grid-block">
		<div class="grid-content small-12">
			<span style="float:right; margin-top:0.5rem;">Edité le : {{resource._api_data._edited_on}}</span>
			<div class=""  ng-show="Tab1">
				<h5>Informations générales</h5>
				<p>
					Titre original : {{resource._api_data.original_title | isempty: 'Non renseigné' }} <br />
					Titre traduit : {{resource._api_data.title_translation | isempty: 'Non renseigné' }} <br />
					Saga : {{resource._api_data.saga | isempty: 'Non renseigné' }} <br />
					Adapté de : {{resource._api_data.adapted_from | isempty: 'Non renseigné' }} <br />
					Pays de production : {{resource._api_data.production_country | isempty: 'Non renseigné' }} <br />
					Date d'achévement' : {{resource._api_data.completion_date | isempty: 'Non renseigné' }} <br />
					Pays de production : {{resource._api_data.production_country | isempty: 'Non renseigné' }} <br />
					Technique de prise de vue : {{resource._api_data.shooting_technique | isempty: 'Non renseigné' }} <br />
					Durée : {{resource._api_data.duration | isempty: 'Non renseigné' }} minutes <br />
					Genre : {{resource._api_data.genre | isempty: 'Non renseigné' }} <br />
					Accroche : {{resource._api_data.pitch | isempty: 'Non renseigné' }}<br />
					<b>Equipe :</b> <br />
					<span ng-show="!resource._api_data.crew">Non renseigné</span>
					<span ng-repeat="crew in resource._api_data.crew">
						{{crew.name | isempty: 'Non renseigné' }} : {{crew.function | isempty: 'Non renseigné' }} <a href="{{crew._api_rsc_link._depot}}resource/{{crew._api_rsc_link._name}}/id/{{crew._api_rsc_link._id}}"><img zf-iconic="" icon="share-boxed" size="small"></a><br />
					</span>
					
				</p>
				
			</div>
			<div class=""  ng-show="Tab2">
				<h5>Informations techniques</h5>
				<p>
					Ratio : {{resource._api_data.ratio | isempty: 'Non renseigné' }}<br />
					Couleur : {{resource._api_data.color | isempty: 'Non renseigné' }}<br />
					Nombre de canaux audio (de la bande originale) : {{resource._api_data.audio_channels_number | isempty: 'Non renseigné' }}<br />
					Langue originale : {{resource._api_data.original_language | isempty: 'Non renseigné' }}<br />
					Langue disponible : {{resource._api_data.available_languages | isempty: 'Non renseigné' }}<br />
					Sous-titre disponible : {{resource._api_data.available_subtitles | isempty: 'Non renseigné' }}<br />
					Support prise de vue : {{resource._api_data.shooting_support | isempty: 'Non renseigné' }}<br />
					MD5SUM pour l'ocpm : {{resource._api_data.md5sum | isempty: 'Non renseigné' }}<br />
					SHA1SUM pour l'ocpm : {{resource._api_data.sha1sum | isempty: 'Non renseigné' }}<br />
					Support de projection : {{resource._api_data.projection_support | isempty: 'Non renseigné' }}<br />
					Lien ocpm : {{resource._api_data.ocpm_link | isempty: 'Non renseigné' }}<br />
					Lien dcp : {{resource._api_data.dcp_link | isempty: 'Non renseigné' }}<br />
					Résolution du film : {{resource._api_data.movie_resolution | isempty: 'Non renseigné' }}<br />
					Cadence : {{resource._api_data.cadence | isempty: 'Non renseigné' }}<br />
					Entrelacement : {{resource._api_data.interweaving | isempty: 'Non renseigné' }}<br />
					Fréquence échantillonnage audio : {{resource._api_data.audio_sample_rate | isempty: 'Non renseigné' }}<br />
					Note de projection : {{resource._api_data.projection_notes | isempty: 'Non renseigné' }}<br />					
				</p>
				
			</div>
			<div class=""  ng-show="Tab3">
				<h5>Informations detailées</h5>
				<p>
					Premier film : {{resource._api_data.first_movie | isempty: 'Non renseigné' }}<br />
					Année de production : {{resource._api_data.production_year | isempty: 'Non renseigné' }}<br />
					Nombre de versions : {{resource._api_data.number_of_versions | isempty: 'Non renseigné' }}<br />
					Film d'école : {{resource._api_data.school_movie | isempty: 'Non renseigné' }}<br />
					Nombre de spectateurs : {{resource._api_data.spectators_number | isempty: 'Non renseigné' }}<br />
					Résumé : {{resource._api_data.summary | isempty: 'Non renseigné' }}<br />
					Vie du film : {{resource._api_data.movie_life | isempty: 'Non renseigné' }}<br />
					Projection du film prévue : {{resource._api_data.scheduled_screening | isempty: 'Non renseigné' }}<br />
					Projection du film passées : {{resource._api_data.past_screening | isempty: 'Non renseigné' }}<br />
					Fichiers joint pdf : 
					<span ng-show="!resource._api_data.attached_pdf">Non renseigné</span>
					<span ng-repeat="attached_pdf in resource._api_data.attached_pdf">
						PDF disponible <a href="{{attached_pdf._api_rsc_link._depot}}echo/attachment/id/{{attached_pdf._api_rsc_link._id}}" target="_blank">ici</a><br />
					</span>

				</p>
				
			</div>
			<div class=""  ng-show="Tab4">
				<h5>Informations légales</h5>
				<p>
					Contact du détenteur des droits : {{resource._api_data.rights_holde_contact | isempty: 'Non renseigné' }}<br />
					Visa  acquis : {{resource._api_data.acquired_visa | isempty: 'Non renseigné' }}<br />
					Numéro de visa : {{resource._api_data.visa_number | isempty: 'Non renseigné' }}<br />
					ISAN acquis : {{resource._api_data.acquired_isan | isempty: 'Non renseigné' }}<br />
					Numéro de ISAN : {{resource._api_data.isan_number | isempty: 'Non renseigné' }}<br />
					Licence : {{resource._api_data.licence | isempty: 'Non renseigné' }}<br />
					Droits musicaux acquis : {{resource._api_data.acquired_musical_rights | isempty: 'Non renseigné' }}<br />
					Type de rémunération : {{resource._api_data.compensation_type | isempty: 'Non renseigné' }}<br />
				</p>
			</div>
			<div class=""  ng-show="Tab5">
				<h5>Informations reseau</h5>
				<p>
					Lien vers le site du film  : {{resource._api_data.website_link | isempty: 'Non renseigné' }}<br />
					Lien vers facebook du film : {{resource._api_data.facebook_link | isempty: 'Non renseigné' }}<br />
					Lien vers twitter du film : {{resource._api_data.twitter_link | isempty: 'Non renseigné' }}<br />
					Lien vers la bande annonce : {{resource._api_data.trailer_link | isempty: 'Non renseigné' }}<br />
					Lien vers le film en streaming : {{resource._api_data.movie_streaming_link | isempty: 'Non renseigné' }}<br />
					Lien vers le film en streaming payant : {{resource._api_data.movie_paying_streaming_link | isempty: 'Non renseigné' }}<br />
				</p>
			</div>
		</div>
	</div>
	<div class="gallery-view grid-content shrink">
		<p ng-repeat="images_from_movie in resource._api_data.images_from_movie">
			<a href="#" zf-open="advancedModal-{{images_from_movie._api_rsc_link._id}}"><img ng-model="plop" ng-src="{{images_from_movie._api_rsc_link._depot}}echo/attachment/id/{{images_from_movie._api_rsc_link._id}}"></a>
		</p>
	</div>
</div>
<div ng-repeat="images_from_movie in resource._api_data.images_from_movie">
	<div zf-modal="" id="advancedModal-{{images_from_movie._api_rsc_link._id}}" class="collapse">
		<div class="grid-block vertical">
			<div class="primary title-bar">
				<span zf-close="advancedModal-{{images_from_movie._api_rsc_link._id}}" class="center"><a>{{resource._api_data.original_title}}</a></span>
			</div>
			<div class="grid-content padding" style="padding-top: 1rem;">
				<p style="margin-bottom:0;">
					<center><img ng-src="{{images_from_movie._api_rsc_link._depot}}echo/attachment/id/{{images_from_movie._api_rsc_link._id}}"></center>
				</p>
			</div>
		</div>
	</div>
</div>
<div zf-modal="" id="deleteMovieModal" overlay="" overlay-close="false" class="small dialog">
	<center>
		<h4>Voulez-vous vraiment supprimer ce film?</h4><br />
		<a zf-close="" ng-click="DeleteMovie()" class="alert button">Oui supprimer ce film</a>
		<a zf-close="" class="secondary button">Non, je ne veux pas</a>
	</center>
</div>